#obal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  z-index: 0; /* behind other content */
  pointer-events: none; /* allows clicks through the animation */
}

canvas#c {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  display: block;
}
